* {
  margin: 0;
}


main {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #a39696;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

.tabuleiro {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.carta {
  height: 180px;
  background-color: #2c3e50;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  color: white;
  padding: 10px;
  text-align: center;
}

.img-mask {
  height: 180px;
  background-color: #2c3e50;
  border-radius: 8px 8px  0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  color: white;
  text-align: center;
}

.verso {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  transform: rotateY(180deg); 
  backface-visibility: hidden; 
}

.carta:hover {
  transform: scale(1.05);
}

.vitoria-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.vitoria-card {
  background: #2c3e50;
  padding: 3rem;
  border-radius: 20px;
  border: 4px solid #f1c40f;
  box-shadow: 0 0 20px rgba(241, 196, 15, 0.5);
}

.vitoria-card h2 { color: #f1c40f; font-size: 3rem; margin-bottom: 10px; }

.vitoria-card button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.vitoria-card button {
  position: relative; 
  z-index: 1001; 
  cursor: pointer;
  padding: 15px 30px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}